# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/v1.35.0/deployment.json
apiVersion: apps/v1
kind: Deployment
metadata:
  name: paperless-ngx-tika
spec:
  template:
    spec:
      containers:
      - name: tika
        image: docker.io/apache/tika
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
        readinessProbe:
          httpGet:
            port: 9998
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
