# Include .yaml files in source config dirs
apps/**/*.yaml linguist-detectable
clusters/**/*.yaml linguist-detectable
shared/**/*.yaml linguist-detectable
tests/**/*.yaml linguist-detectable

# Exclude all go-task files from detection
**/Taskfile.yaml -linguist-detectable
**/tasks.yaml -linguist-detectable
