# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: APP_NAME

resources:
- namespace.yaml

components:
- ../../../shared/components/strip-helm-labels
