# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml

components:
- ../../../shared/components/strip-helm-labels

helmCharts:
- name: crossplane
  repo: https://charts.crossplane.io/stable
  releaseName: crossplane
  namespace: crossplane-system
  version: 2.1.3
  valuesInline:
    image:
      repository: ghcr.io/crossplane/crossplane
    metrics:
      enabled: true
    securityContextCrossplane:
      capabilities:
        drop: ["ALL"]
    securityContextRBACManager:
      capabilities:
        drop: ["ALL"]
    podSecurityContextCrossplane:
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
    podSecurityContextRBACManager:
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
    provider:
      defaultActivations: []

images:
- name: ghcr.io/crossplane/crossplane
  newTag: v2.1.3@sha256:0093f50b2157b3915d04598a726087c08d63ff587e4ea5282cb61004533e80a6
