# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
- ../../../shared/components/strip-helm-labels

helmCharts:
- name: sealed-secrets
  repo: https://bitnami-labs.github.io/sealed-secrets
  releaseName: sealed-secrets
  namespace: kube-system
  version: 2.17.9
  includeCRDs: true
  valuesInline:
    fullnameOverride: sealed-secrets-controller
