apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  annotations:
    argocd.argoproj.io/sync-options: Force=true,Replace=true
  name: ezxss-cloudflare
  namespace: ezxss
spec:
  gatewayClassName: cloudflare
  listeners:
  - name: http
    port: 80
    protocol: HTTP
