apiVersion: k8s.mariadb.com/v1alpha1
kind: MariaDB
metadata:
  labels:
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: ezxss
  name: ezxss-db
  namespace: ezxss
spec:
  database: ezxss
  galera:
    agent:
      image: ghcr.io/mariadb-operator/mariadb-operator:25.10.4@sha256:f718727d22285a9b19b8340ec10a1e3a531133bfeb2af71df3a7faffffb4ea58
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
    config:
      volumeClaimTemplate:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 100Mi
        storageClassName: ssd-r1
    enabled: true
    initContainer:
      image: ghcr.io/mariadb-operator/mariadb-operator:25.10.4@sha256:f718727d22285a9b19b8340ec10a1e3a531133bfeb2af71df3a7faffffb4ea58
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
  image: ghcr.io/mariadb/mariadb:12.1.2-noble@sha256:5ab686eaece3d4d829c153e794bd5796dd3df7c91d62d4da2095e91fd1f570e0
  metrics:
    enabled: true
    exporter:
      image: docker.io/prom/mysqld-exporter:v0.18.0@sha256:2598c0571f383708e19016d119bb45c06128a9ebc962c9f49483278ac5a94c41
      podSecurityContext:
        runAsGroup: 65534
        runAsNonRoot: true
        runAsUser: 65534
        seccompProfile:
          type: RuntimeDefault
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
  podSecurityContext:
    fsGroup: 999
    runAsGroup: 999
    runAsNonRoot: true
    runAsUser: 999
    seccompProfile:
      type: RuntimeDefault
  replicas: 3
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
      - ALL
  storage:
    size: 10Gi
    storageClassName: ssd-r1
  username: ezxss
