apiVersion: k8s.mariadb.com/v1alpha1
kind: MariaDB
metadata:
  labels:
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: ezxss
  name: ezxss-db
  namespace: ezxss
spec:
  database: ezxss
  galera:
    agent:
      image: ghcr.io/mariadb-operator/mariadb-operator:25.10.2@sha256:14eeefa4956770f973ac707b7969f2e99e0af2cf2c34ac63d4c7eb3f7c3cf3eb
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
    config:
      volumeClaimTemplate:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 100Mi
        storageClassName: ssd-r1
    enabled: true
    initContainer:
      image: ghcr.io/mariadb-operator/mariadb-operator:25.10.2@sha256:14eeefa4956770f973ac707b7969f2e99e0af2cf2c34ac63d4c7eb3f7c3cf3eb
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
  image: ghcr.io/mariadb/mariadb:12.0.2-noble@sha256:551c3f6dfef258db3cf30991eecd5d4125a72ed983fadec67126c0a02b6b79d3
  metrics:
    enabled: true
    exporter:
      podSecurityContext:
        runAsGroup: 65534
        runAsNonRoot: true
        runAsUser: 65534
        seccompProfile:
          type: RuntimeDefault
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
  podSecurityContext:
    fsGroup: 999
    runAsGroup: 999
    runAsNonRoot: true
    runAsUser: 999
    seccompProfile:
      type: RuntimeDefault
  replicas: 3
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
      - ALL
  storage:
    size: 10Gi
    storageClassName: ssd-r1
  username: ezxss
