connectors:
- type: oidc
  id: keycloak
  name: seigra.net
  config:
    issuer: https://auth.seigra.net/realms/home
    clientID: argocd
    clientSecret: $argocd-oidc-secret:client_secret
    scopes:
    - openid
    - profile
    - email
    getUserInfo: true
    userNameKey: preferred_username
    insecureEnableGroups: true
# vim: set ft=yaml
