# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/v3.0.41/pkg/config/schemas/talconfig.json
clusterName: production
# renovate: datasource=github-releases depName=siderolabs/talos
talosVersion: v1.11.6
# renovate: datasource=github-releases depName=kubernetes/kubernetes
kubernetesVersion: v1.34.3
endpoint: https://10.1.4.10:6443
nodes:
- hostname: production-controlplane-1
  ipAddress: 10.1.4.11
  installDisk: /dev/nvme0n1
  controlPlane: true
- hostname: production-controlplane-2
  ipAddress: 10.1.4.12
  installDisk: /dev/nvme0n1
  controlPlane: true
- hostname: production-controlplane-3
  ipAddress: 10.1.4.13
  installDisk: /dev/nvme0n1
  controlPlane: true
allowSchedulingOnControlPlanes: true
controlPlane:
  networkInterfaces:
  - interface: eno1
    dhcp: true
    vip:
      ip: 10.1.4.10
  talosImageURL: factory.talos.dev/installer-secureboot/9c4964a2abdf6ef1fd114d60d37dd8288a37731d839860169e456ec7b9ff590e
  patches:
  - '@clusterconfig/patches/containerd-config.yaml'
  - '@clusterconfig/patches/disable-hostdns.yaml'
  - '@clusterconfig/patches/disable-proxy.yaml'
  - '@clusterconfig/patches/disk-encryption.yaml'
  - '@clusterconfig/patches/kernel-modules.yaml'
  - '@clusterconfig/patches/metrics-scraping.yaml'
  - '@clusterconfig/patches/no-cni.yaml'
  - '@clusterconfig/patches/oidc.yaml'
  - '@clusterconfig/patches/parallel-image-pulls.yaml'
  - '@clusterconfig/patches/pod-security.yaml'
  - '@clusterconfig/patches/registry-mirrors.yaml'
