# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: application

resources:
- deployment.yaml
- gateway.yaml
- httproute.yaml
- pvc.yaml
- service.yaml

images:
- name: ghcr.io/actualbudget/actual-server
  newTag: 25.12.0@sha256:7f38b450cc3b7523dd5377792895e58b9cf333769e5a27f89e643b6f5fc60565

configMapGenerator:
- name: actual-server-env
  literals:
  - ACTUAL_LOGIN_METHOD=openid
  - ACTUAL_ALLOWED_LOGIN_METHODS=openid
  - DEBUG=actual:config
- name: actual-server-openid-config
  options:
    disableNameSuffixHash: true
  literals:
  - issuer=https://auth.seigra.net/realms/home
  - client_id=actual
  - server_hostname=https://actual.seigra.net
  - authMethod=oauth2
