# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: keycloak

resources:
- namespace.yaml
- keycloak
- database.yaml
- gateway.yaml
- httproute.yaml
- crossplane/providerconfig.yaml
- home/realm.yaml
- home/groups.yaml
- home/roles.yaml

components:
- ../../../shared/components/crd-configurations

images:
- name: ghcr.io/cloudnative-pg/postgresql
  newTag: 18.1-standard-trixie@sha256:06fc3ac8e8b830cc97d08b8ad8dc471d29767c92882ee2a917f2decd502da128
- name: quay.io/keycloak/keycloak
  newTag: 26.4.7-0@sha256:9409c59bdfb65dbffa20b11e6f18b8abb9281d480c7ca402f51ed3d5977e6007
