# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: keycloak

resources:
- namespace.yaml
- keycloak
- database.yaml
- gateway.yaml
- httproute.yaml
- crossplane/providerconfig.yaml
- home/realm.yaml
- home/groups.yaml
- home/roles.yaml

components:
- ../../../shared/components/crd-configurations

images:
- name: ghcr.io/cloudnative-pg/postgresql
  newTag: 18.1-standard-trixie@sha256:ba5525329febd0b7b56db3bdf8a0316f97059578f804ff2e1d3d97694c3b1515
- name: quay.io/keycloak/keycloak
  newTag: 26.5.0-0@sha256:5fdd7cda82e58775ed124294c7e16fabc33166d38dfc4aabebda7d64e7a964bf
