# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: keycloak

resources:
- namespace.yaml
- database.yaml
- gateway.yaml
- httproute.yaml
- crossplane/providerconfig.yaml
- home/realm.yaml
- home/groups.yaml
- home/roles.yaml

components:
- ../../../shared/components/strip-helm-labels

images:
- name: docker.io/bitnami/keycloak
  newName: public.ecr.aws/bitnami/keycloak

helmCharts:
- name: keycloak
  repo: oci://docker.io/bitnamicharts
  version: 25.2.0
  releaseName: keycloak
  namespace: keycloak
  valuesInline:
    replicaCount: 2
    auth:
      adminUser: admin
      existingSecret: keycloak-admin
      passwordSecretKey: admin-password
    production: true
    proxyHeaders: xforwarded
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
        namespace: keycloak
      prometheusRule:
        enabled: true
        namespace: monitoring
    postgresql:
      enabled: false
    externalDatabase:
      host: keycloak-db-rw
      database: keycloak
      existingSecret: keycloak-db-app
      existingSecretUserKey: user
      existingSecretPasswordKey: password
    resources:
      requests:
        cpu: 50m
        memory: 1Gi
