apiVersion: databases.spotahome.com/v1
kind: RedisFailover
metadata:
  labels:
    app.kubernetes.io/component: redis
    app.kubernetes.io/instance: harbor
    app.kubernetes.io/name: redis
    app.kubernetes.io/part-of: harbor
  name: harbor
  namespace: harbor
spec:
  redis:
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution: []
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
    exporter:
      enabled: true
      image: docker.io/oliver006/redis_exporter:v1.80.2-alpine@sha256:5c1692551217e4519a04b89aa87a8c3360173f020e8cef280c798e9f5dbc819a
    image: ghcr.io/valkey-io/valkey:9.0.0-alpine3.22@sha256:bef37d06d4856710973ee31dd1eac1482e4c8e6e7b847f999ad25433e646587b
    replicas: 3
    securityContext:
      fsGroup: 1000
      runAsNonRoot: true
      runAsUser: 1000
      seccompProfile:
        type: RuntimeDefault
    storage:
      persistentVolumeClaim:
        apiVersion: v1
        kind: PersistentVolumeClaim
        metadata:
          labels:
            app.kubernetes.io/name: redis
          name: data
        spec:
          accessModes:
          - ReadWriteOnce
          resources:
            requests:
              storage: 5Gi
          storageClassName: ssd-r1
  sentinel:
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution: []
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
    exporter:
      enabled: true
      image: docker.io/oliver006/redis_exporter:v1.80.2-alpine@sha256:5c1692551217e4519a04b89aa87a8c3360173f020e8cef280c798e9f5dbc819a
    image: ghcr.io/valkey-io/valkey:9.0.0-alpine3.22@sha256:bef37d06d4856710973ee31dd1eac1482e4c8e6e7b847f999ad25433e646587b
    replicas: 3
    securityContext:
      runAsNonRoot: true
      runAsUser: 1000
      seccompProfile:
        type: RuntimeDefault
