# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/component: application

resources:
- deployment.yaml
- gateway.yaml
- httproute.yaml
- pvc.yaml
- service.yaml
- bundle.yaml

images:
- name: ghcr.io/actualbudget/actual-server
  newTag: 26.2.0@sha256:c34346f87725b9cce5dca5af1a2a9b989127d592cc4c6af5cf4652d4a86def90

configMapGenerator:
- name: actual-server-env
  literals:
  - ACTUAL_LOGIN_METHOD=openid
  - ACTUAL_ALLOWED_LOGIN_METHODS=openid
  - ACTUAL_OPENID_DISCOVERY_URL=
  - ACTUAL_OPENID_CLIENT_ID=actual
  - ACTUAL_OPENID_SERVER_HOSTNAME=https://
  - ACTUAL_OPENID_AUTH_METHOD=oauth2
