# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ezxss

resources:
- namespace.yaml
- database.yaml
- configmap.yaml
- deployment.yaml
- service.yaml
- gateway.yaml
- httproute.yaml

images:
- name: ghcr.io/gadgetmg/ezxss
  newTag: master@sha256:e0ea2115af6539bde98d78ecac96b226384eed2c2b15b97871598e00595d456c
- name: ghcr.io/mariadb/mariadb
  newTag: 12.0.2-noble@sha256:770c6846fdb13ecf26a1aaabb2283fdf2d83753149ac4d077263d5a4adee53d6
- name: ghcr.io/mariadb-operator/mariadb-operator
  newTag: 25.10.2@sha256:14eeefa4956770f973ac707b7969f2e99e0af2cf2c34ac63d4c7eb3f7c3cf3eb

components:
- ../../../shared/components/crd-configurations
