# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ezxss

resources:
- namespace.yaml
- database.yaml
- configmap.yaml
- deployment.yaml
- service.yaml
- gateway.yaml
- httproute.yaml

images:
- name: ghcr.io/gadgetmg/ezxss
  newTag: master@sha256:0c3845eebf5ea172577e6c452ec08d009336f55d2a165f519d1fc1bbb0019b1a
- name: ghcr.io/mariadb/mariadb
  newTag: 12.1.2-noble@sha256:a076a9a67576b2015ceffb5c583885696977f8acefe2b48d239c0329f0b1c61e
- name: ghcr.io/mariadb-operator/mariadb-operator
  newTag: 25.10.3@sha256:9bf539653c5ddc94dbfb96eb4c4c224b276eb5a31491015def11ec67b2287562
- name: docker.io/prom/mysqld-exporter
  newTag: v0.18.0@sha256:2598c0571f383708e19016d119bb45c06128a9ebc962c9f49483278ac5a94c41

components:
- ../../../shared/components/crd-configurations
