# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ezxss

resources:
- namespace.yaml
- database.yaml
- configmap.yaml
- deployment.yaml
- service.yaml
- gateway.yaml
- httproute.yaml

images:
- name: ghcr.io/gadgetmg/ezxss
  newTag: master@sha256:a0bea899b39bc35925e4fb7d1cc0e22332451756a2c35c721589e779f1a1bc79
- name: ghcr.io/mariadb/mariadb
  newTag: 12.1.2-noble@sha256:5ab686eaece3d4d829c153e794bd5796dd3df7c91d62d4da2095e91fd1f570e0
- name: ghcr.io/mariadb-operator/mariadb-operator
  newTag: 25.10.4@sha256:f718727d22285a9b19b8340ec10a1e3a531133bfeb2af71df3a7faffffb4ea58
- name: docker.io/prom/mysqld-exporter
  newTag: v0.18.0@sha256:2598c0571f383708e19016d119bb45c06128a9ebc962c9f49483278ac5a94c41

components:
- ../../../shared/components/crd-configurations
