# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
- namespace.yaml
- keycloak
- gateway

components:
- ../../../shared/components/strip-helm-labels
- ../../../shared/components/crd-configurations

helmCharts:
- name: prometheus-operator-crds
  repo: https://prometheus-community.github.io/helm-charts
  releaseName: prometheus-operator-crds
  version: 25.0.0
  includeCRDs: true
- name: kube-prometheus-stack
  repo: https://prometheus-community.github.io/helm-charts
  releaseName: kube-prometheus-stack
  namespace: monitoring
  skipTests: true
  version: 78.5.0
  apiVersions:
  - discovery.k8s.io/v1/EndpointSlice
  valuesInline:
    fullnameOverride: k8s
    grafana:
      fullnameOverride: grafana
      grafana.ini:
        auth.generic_oauth:
          enabled: true
          auto_login: true
          name: seigra.net
          allow_sign_up: true
          client_id: grafana
          scopes: openid email profile offline_access
          email_attribute_path: email
          login_attribute_path: username
          name_attribute_path: full_name
          auth_url: https://auth.seigra.net/realms/home/protocol/openid-connect/auth
          token_url: https://auth.seigra.net/realms/home/protocol/openid-connect/token
          api_url: https://auth.seigra.net/realms/home/protocol/openid-connect/userinfo
          role_attribute_path: contains(groups[*], 'admin') && 'Admin' || contains(groups[*], 'editor') && 'Editor' || contains(groups[*], 'viewer') && 'Viewer'
          role_attribute_strict: true
          tls_skip_verify_insecure: true
        server:
          domain: grafana.seigra.net
          root_url: https://grafana.seigra.net
      envValueFrom:
        GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET:
          secretKeyRef:
            name: keycloak-client-grafana
            key: attribute.client_secret
    prometheusOperator:
      fullnameOverride: prometheus-operator
    cleanPrometheusOperatorObjectNames: true
    prometheus-node-exporter:
      namespaceOverride: kube-system
      fullnameOverride: node-exporter
      prometheus:
        monitor:
          attachMetadata:
            node: true
          relabelings:
          - sourceLabels:
            - __meta_kubernetes_endpoint_node_name
            targetLabel: node
            action: replace
            regex: (.+)
            replacement: ${1}
    kube-state-metrics:
      fullnameOverride: kube-state-metrics
- name: prometheus-adapter
  repo: https://prometheus-community.github.io/helm-charts
  releaseName: prometheus-adapter
  namespace: monitoring
  version: 5.2.0
  apiVersions:
  - apiregistration.k8s.io/v1
  valuesInline:
    prometheus:
      url: http://k8s-prometheus.monitoring.svc
    rules:
      default: false
      resource:
        cpu:
          containerQuery: |
            sum by (<<.GroupBy>>) (
              rate(container_cpu_usage_seconds_total{container!="",<<.LabelMatchers>>}[3m])
            )
          nodeQuery: |
            sum  by (<<.GroupBy>>) (
              rate(node_cpu_seconds_total{mode!="idle",mode!="iowait",mode!="steal",<<.LabelMatchers>>}[3m])
            )
          resources:
            overrides:
              node:
                resource: node
              namespace:
                resource: namespace
              pod:
                resource: pod
          containerLabel: container
        memory:
          containerQuery: |
            sum by (<<.GroupBy>>) (
              avg_over_time(container_memory_working_set_bytes{container!="",<<.LabelMatchers>>}[3m])
            )
          nodeQuery: |
            sum by (<<.GroupBy>>) (
              avg_over_time(node_memory_MemTotal_bytes{<<.LabelMatchers>>}[3m])
              -
              avg_over_time(node_memory_MemAvailable_bytes{<<.LabelMatchers>>}[3m])
            )
          resources:
            overrides:
              node:
                resource: node
              namespace:
                resource: namespace
              pod:
                resource: pod
          containerLabel: container
        window: 3m

images:
- name: quay.io/prometheus/node-exporter
  newTag: v1.9.1@sha256:d00a542e409ee618a4edc67da14dd48c5da66726bbd5537ab2af9c1dfc442c8a
- name: docker.io/grafana/grafana
  newTag: 12.2.0@sha256:74144189b38447facf737dfd0f3906e42e0776212bf575dc3334c3609183adf7
- name: quay.io/kiwigrid/k8s-sidecar
  newTag: 1.30.10@sha256:835d79d8fbae62e42d8a86929d4e3c5eec2e869255dd37756b5a3166c2f22309
- name: quay.io/prometheus/alertmanager
  newTag: v0.28.1@sha256:27c475db5fb156cab31d5c18a4251ac7ed567746a2483ff264516437a39b15ba
- name: quay.io/prometheus-operator/prometheus-operator
  newTag: v0.86.1@sha256:8f132dc8c2e8a5c852e864231fc85bcb8edecea184dfff34c77593f8f454cb06
- name: quay.io/prometheus/prometheus
  newTag: v3.7.2@sha256:23031bfe0e74a13004252caaa74eccd0d62b6c6e7a04711d5b8bf5b7e113adc7
- name: registry.k8s.io/kube-state-metrics/kube-state-metrics
  newTag: v2.17.0@sha256:2bbc915567334b13632bf62c0a97084aff72a36e13c4dabd5f2f11c898c5bacd
- name: registry.k8s.io/prometheus-adapter/prometheus-adapter
  newTag: v0.12.0@sha256:932eae60e2bcf9c4660d6442da066ef1a79b4ea7cc232c61c7303069216ca006
