# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
- namespace.yaml
- keycloak
- gateway

components:
- ../../../shared/components/strip-helm-labels
- ../../../shared/components/crd-configurations

helmCharts:
- name: prometheus-operator-crds
  repo: https://prometheus-community.github.io/helm-charts
  releaseName: prometheus-operator-crds
  version: 25.0.1
  includeCRDs: true
- name: kube-prometheus-stack
  repo: https://prometheus-community.github.io/helm-charts
  releaseName: kube-prometheus-stack
  namespace: monitoring
  skipTests: true
  version: 81.3.1
  apiVersions:
  - discovery.k8s.io/v1/EndpointSlice
  valuesInline:
    fullnameOverride: k8s
    grafana:
      fullnameOverride: grafana
      adminPassword: prom-operator
      grafana.ini:
        auth.generic_oauth:
          enabled: true
          auto_login: true
          name: seigra.net
          allow_sign_up: true
          client_id: grafana
          scopes: openid email profile offline_access
          email_attribute_path: email
          login_attribute_path: username
          name_attribute_path: full_name
          auth_url: https://auth.seigra.net/realms/home/protocol/openid-connect/auth
          token_url: https://auth.seigra.net/realms/home/protocol/openid-connect/token
          api_url: https://auth.seigra.net/realms/home/protocol/openid-connect/userinfo
          role_attribute_path: contains(groups[*], 'admin') && 'Admin' || contains(groups[*], 'editor') && 'Editor' || contains(groups[*], 'viewer') && 'Viewer'
          role_attribute_strict: true
          tls_skip_verify_insecure: true
        server:
          domain: grafana.seigra.net
          root_url: https://grafana.seigra.net
      envValueFrom:
        GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET:
          secretKeyRef:
            name: keycloak-client-grafana
            key: attribute.client_secret
    prometheusOperator:
      fullnameOverride: prometheus-operator
      prometheusConfigReloader:
        image:
          registry: quay.io
          repository: prometheus-operator/prometheus-config-reloader
          # renovate: datasource=docker depName=quay.io/prometheus-operator/prometheus-config-reloader
          tag: v0.88.1@sha256:27da7b23b862e83581872d464a39a9477de705e86e46e3da18cf55d560caaa79
      thanosImage:
        registry: quay.io
        repository: thanos/thanos
        # renovate: datasource=docker depName=quay.io/thanos/thanos
        tag: v0.40.1@sha256:aae7b2b030ed00d88abd8c5a357d08b46f22151ca0d50d9c796223fa332389c8
    cleanPrometheusOperatorObjectNames: true
    prometheus-node-exporter:
      namespaceOverride: kube-system
      fullnameOverride: node-exporter
      prometheus:
        monitor:
          attachMetadata:
            node: true
          relabelings:
          - sourceLabels:
            - __meta_kubernetes_endpoint_node_name
            targetLabel: node
            action: replace
            regex: (.+)
            replacement: ${1}
    kube-state-metrics:
      fullnameOverride: kube-state-metrics
- name: prometheus-adapter
  repo: https://prometheus-community.github.io/helm-charts
  releaseName: prometheus-adapter
  namespace: monitoring
  version: 5.2.0
  apiVersions:
  - apiregistration.k8s.io/v1
  valuesInline:
    prometheus:
      url: http://k8s-prometheus.monitoring.svc
    rules:
      default: false
      resource:
        cpu:
          containerQuery: |
            sum by (<<.GroupBy>>) (
              rate(container_cpu_usage_seconds_total{container!="",<<.LabelMatchers>>}[3m])
            )
          nodeQuery: |
            sum  by (<<.GroupBy>>) (
              rate(node_cpu_seconds_total{mode!="idle",mode!="iowait",mode!="steal",<<.LabelMatchers>>}[3m])
            )
          resources:
            overrides:
              node:
                resource: node
              namespace:
                resource: namespace
              pod:
                resource: pod
          containerLabel: container
        memory:
          containerQuery: |
            sum by (<<.GroupBy>>) (
              avg_over_time(container_memory_working_set_bytes{container!="",<<.LabelMatchers>>}[3m])
            )
          nodeQuery: |
            sum by (<<.GroupBy>>) (
              avg_over_time(node_memory_MemTotal_bytes{<<.LabelMatchers>>}[3m])
              -
              avg_over_time(node_memory_MemAvailable_bytes{<<.LabelMatchers>>}[3m])
            )
          resources:
            overrides:
              node:
                resource: node
              namespace:
                resource: namespace
              pod:
                resource: pod
          containerLabel: container
        window: 3m

images:
- name: quay.io/prometheus/node-exporter
  newTag: v1.10.2@sha256:337ff1d356b68d39cef853e8c6345de11ce7556bb34cda8bd205bcf2ed30b565
- name: docker.io/grafana/grafana
  newTag: 12.3.2@sha256:ba93c9d192e58b23e064c7f501d453426ccf4a85065bf25b705ab1e98602bfb1
- name: quay.io/kiwigrid/k8s-sidecar
  newTag: 2.5.0@sha256:a6b3f707f883108376514489a94d6629109a327b2978e1d826cd104c4ca436df
- name: quay.io/prometheus/alertmanager
  newTag: v0.30.1@sha256:286ad8838533a5a01d89bd09643f43d2b68b65203123b5700e54a8f80ff9c1f4
- name: quay.io/prometheus-operator/prometheus-operator
  newTag: v0.88.1@sha256:d3d65efa3beeacdc9af743fa892daa1e935f23e4de98c84894a4d25d59a840a4
- name: quay.io/prometheus/prometheus
  newTag: v3.9.1@sha256:1f0f50f06acaceb0f5670d2c8a658a599affe7b0d8e78b898c1035653849a702
- name: registry.k8s.io/kube-state-metrics/kube-state-metrics
  newTag: v2.18.0@sha256:1545919b72e3ae035454fc054131e8d0f14b42ef6fc5b2ad5c751cafa6b2130e
- name: registry.k8s.io/prometheus-adapter/prometheus-adapter
  newTag: v0.12.0@sha256:932eae60e2bcf9c4660d6442da066ef1a79b4ea7cc232c61c7303069216ca006
