# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/v1.34.2/deployment.json
apiVersion: apps/v1
kind: Deployment
metadata:
  name: paperless-ngx-redis
spec:
  template:
    spec:
      containers:
      - name: redis
        image: ghcr.io/valkey-io/valkey
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: ["ALL"]
          runAsUser: 999
          runAsGroup: 999
        readinessProbe:
          tcpSocket:
            port: 6379
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
