talosconfig
production-production-controlplane-1.yaml
production-production-controlplane-2.yaml
production-production-controlplane-3.yaml
production-production-controlplane-1.tail073351.ts.net.yaml
production-production-controlplane-2.tail073351.ts.net.yaml
production-production-controlplane-3.tail073351.ts.net.yaml
