apiVersion: velero.io/v1
kind: Schedule
metadata:
  name: paperless-ngx-daily
  namespace: velero
spec:
  schedule: 0 5 * * *
  template:
    includedNamespaces:
    - paperless-ngx
    includedResources:
    - pvc
    labelSelector:
      matchLabels:
        app.kubernetes.io/component: paperless-ngx
  useOwnerReferencesInBackup: true
