# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml

components:
- ../../../shared/components/strip-helm-labels

helmCharts:
- name: external-secrets
  repo: https://charts.external-secrets.io
  releaseName: external-secrets
  namespace: external-secrets
  version: 1.1.0
  apiVersions:
  - monitoring.coreos.com/v1
  valuesInline:
    serviceMonitor:
      enabled: true
    webhook:
      certManager:
        enabled: true
        cert:
          issuerRef:
            kind: ClusterIssuer
            name: cluster-ca

images:
- name: ghcr.io/external-secrets/external-secrets
  newTag: v1.1.1@sha256:134c59e0ba1f608df49c0468ad1288de2136dae7a21e20384960660fa01fe442
