# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml

components:
- ../../../shared/components/strip-helm-labels

helmCharts:
- name: external-secrets
  repo: https://charts.external-secrets.io
  releaseName: external-secrets
  namespace: external-secrets
  version: 1.2.1
  apiVersions:
  - monitoring.coreos.com/v1
  valuesInline:
    serviceMonitor:
      enabled: true
    webhook:
      certManager:
        enabled: true
        cert:
          issuerRef:
            kind: ClusterIssuer
            name: cluster-ca

images:
- name: ghcr.io/external-secrets/external-secrets
  newTag: v1.3.2@sha256:b09d3ae5b70823f2ea7807947b041086622e35740c8157d00838b474bdcd84e7
