# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml

images:
- name: velero/velero
  newTag: v1.17.1@sha256:58f551f0d89a9ef1919771bdc7475c08bc1795a50a51a57b5f14316d68fc3baa
- name: velero/velero-plugin-for-aws
  newTag: v1.13.0@sha256:0b08ec0d150424fa914487e6665d7c84fff0c6a8eca76a23fa6d09e621d36d8a

components:
- ../../../shared/components/strip-helm-labels

helmCharts:
- name: velero
  repo: https://vmware-tanzu.github.io/helm-charts
  releaseName: velero
  namespace: velero
  version: 11.1.1
  includeCRDs: true
  apiVersions:
  - monitoring.coreos.com/v1
  valuesInline:
    initContainers:
    - name: velero-plugin-for-aws
      image: velero/velero-plugin-for-aws
      volumeMounts:
      - mountPath: /target
        name: plugins
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
    containerSecurityContext:
      runAsUser: 1002
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
    upgradeCRDs: false
    configuration:
      backupStorageLocation: []
      volumeSnapshotLocation: []
      features: EnableCSI
      defaultSnapshotMoveData: true
    credentials:
      existingSecret: velero
    deployNodeAgent: true
