# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml

images:
- name: velero/velero
  newTag: v1.17.0@sha256:22d17d9a7e9cda10b1ffc63b4baebc35f805a22b203cb5ca65fffee51ddbde92
- name: velero/velero-plugin-for-aws
  newTag: v1.13.1@sha256:472d0e486d5d5c23c782b1b123530c7df8645784523ec36ca661a326d47885ff

components:
- ../../../shared/components/strip-helm-labels

helmCharts:
- name: velero
  repo: https://vmware-tanzu.github.io/helm-charts
  releaseName: velero
  namespace: velero
  version: 11.1.1
  includeCRDs: true
  apiVersions:
  - monitoring.coreos.com/v1
  valuesInline:
    initContainers:
    - name: velero-plugin-for-aws
      image: velero/velero-plugin-for-aws
      volumeMounts:
      - mountPath: /target
        name: plugins
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
        allowPrivilegeEscalation: false
        capabilities:
          drop:
          - ALL
    containerSecurityContext:
      runAsUser: 1002
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
    upgradeCRDs: false
    configuration:
      backupStorageLocation: []
      volumeSnapshotLocation: []
      features: EnableCSI
      defaultSnapshotMoveData: true
    credentials:
      existingSecret: velero
    deployNodeAgent: true
