# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: harbor

resources:
- namespace.yaml
- gateway.yaml
- httproute.yaml
- core
- database
- jobservice
- portal
- redis
- registry
- trivy
- keycloak

configMapGenerator:
- name: harbor-common
  literals:
  - CORE_URL=http://harbor-core:80
  - LOG_LEVEL=info
  - REGISTRY_CONTROLLER_URL=http://harbor-registry:8080
  - REGISTRY_CREDENTIAL_USERNAME=harbor_registry_user
  - REGISTRY_URL=http://harbor-registry:5000
  - TOKEN_SERVICE_URL=http://harbor-core:80/service/token
- name: harbor-config-override-template
  options:
    disableNameSuffixHash: true
  literals:
  - auth_mode=oidc_auth
  - primary_auth_mode=true
  - project_creation_restriction=adminonly
  - read_only=false
  - token_expiration=30
  - oidc_name=seigra.net
  - oidc_endpoint=https://auth.seigra.net/realms/home
  - oidc_extra_redirect_parms={}
  - oidc_client_id=harbor
  - oidc_groups_claim=groups
  - oidc_admin_group=admin
  - oidc_scope=openid
  - oidc_verify_cert=true
  - oidc_auto_onboard=true
  - oidc_user_claim=email
  - robot_token_duration=30
  - robot_name_prefix=robot$
  - audit_log_forward_endpoint=""
  - skip_audit_log_database=false
  - scanner_skip_update_pulltime=true
  - banner_message=""

labels:
- pairs:
    app.kubernetes.io/instance: harbor
    app.kubernetes.io/part-of: harbor
  includeSelectors: true
  includeTemplates: true

replicas:
- name: harbor-core
  count: 2
- name: harbor-jobservice
  count: 2
- name: harbor-portal
  count: 2
- name: harbor-registry
  count: 2
- name: harbor-trivy
  count: 2
