# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- clusterroles.yaml
- clusterrolebindings.yaml

components:
- ../../../shared/components/strip-helm-labels
- ../../../shared/components/kapp-noop-helm-hooks

helmCharts:
- name: kyverno
  repo: https://kyverno.github.io/kyverno/
  releaseName: kyverno
  namespace: kyverno
  version: 3.6.2
  apiVersions:
  - policy/v1/PodDisruptionBudget
  valuesInline:
    global:
      image:
        registry: ghcr.io
    admissionController:
      replicas: 1
      serviceMonitor:
        enabled: true
    backgroundController:
      replicas: 1
      serviceMonitor:
        enabled: true
    cleanupController:
      replicas: 1
      serviceMonitor:
        enabled: true
    reportsController:
      replicas: 1
      serviceMonitor:
        enabled: true

images:
- name: ghcr.io/kyverno/kyverno
  newTag: v1.16.3@sha256:c2d71785b67357617aaddb308e7115f88261b9f36c4774bb8194a2464ec3d601
- name: ghcr.io/kyverno/kyvernopre
  newTag: v1.16.2@sha256:ba3a31b25a9e1c6f993d7555158396d87790445ddc785426c249e8320b94b02a
- name: ghcr.io/kyverno/background-controller
  newTag: v1.16.3@sha256:0a8f9369e889117a605ecb527bdc07f3bd25a9183e588a92442246824b2262b5
- name: ghcr.io/kyverno/cleanup-controller
  newTag: v1.16.2@sha256:1bf6d0501d7f16aa5d36821f907287d8653564c642866c4b597f2e6abc527390
- name: ghcr.io/kyverno/reports-controller
  newTag: v1.16.2@sha256:88d0dfc245a689e9bf3e258159b539f3a1b1a5a89f82b6a07c12762527bb7793
- name: ghcr.io/kyverno/kyverno-cli
  newTag: v1.16.2@sha256:f1a4dd586f118ca24d1fb768b8791a506231748d41cb490dfff04b66b2738079
