# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- clusterroles.yaml
- clusterrolebindings.yaml

components:
- ../../../shared/components/strip-helm-labels
- ../../../shared/components/kapp-noop-helm-hooks

helmCharts:
- name: kyverno
  repo: https://kyverno.github.io/kyverno/
  releaseName: kyverno
  namespace: kyverno
  version: 3.6.0
  apiVersions:
  - policy/v1/PodDisruptionBudget
  valuesInline:
    global:
      image:
        registry: ghcr.io
    admissionController:
      replicas: 1
      serviceMonitor:
        enabled: true
    backgroundController:
      replicas: 1
      serviceMonitor:
        enabled: true
    cleanupController:
      replicas: 1
      serviceMonitor:
        enabled: true
    reportsController:
      replicas: 1
      serviceMonitor:
        enabled: true

images:
- name: ghcr.io/kyverno/kyverno
  newTag: v1.16.0@sha256:2fad29572e08010884f0f89792af2c734fdf401c850dbeb1b610822980d9afdf
- name: ghcr.io/kyverno/kyvernopre
  newTag: v1.16.0@sha256:65265d5012b9630bd4387d5eef1d58fa30c0cfad7ace485969e8da8d465bc128
- name: ghcr.io/kyverno/background-controller
  newTag: v1.16.1@sha256:1243c89f8d0e1ac3194c380e31571236af49aec531251bc724f1e5c51de57feb
- name: ghcr.io/kyverno/cleanup-controller
  newTag: v1.16.0@sha256:663aee60fb84fa7e5d9da6d2001127115edae30ab580b6b80a2281665da936b0
- name: ghcr.io/kyverno/reports-controller
  newTag: v1.16.0@sha256:cca045c5155e53647a6608d290ef8f135a55a48a5d05c154e1d4c5dac69101f8
- name: ghcr.io/kyverno/kyverno-cli
  newTag: v1.16.0@sha256:80eb8d119621afcc174cdb79a220f0b982a792cd8df4aca5f1b0a5bafa7831f1
