# yaml-language-server: $schema=../../../../schemas/keycloak.m.crossplane.io/clusterproviderconfig_v1beta1.json
apiVersion: keycloak.m.crossplane.io/v1beta1
kind: ClusterProviderConfig
metadata:
  name: default
spec:
  credentials:
    secretRef:
      key: credentials
      name: keycloak-keycloak-credentials
      namespace: keycloak
    source: Secret
