name: pre-commit
run-name: pre-commit
on:
  push:
    branches:
    - main
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Setup
      uses: ./.github/actions/setup

    - name: Run pre-commit checks
      run: pre-commit run --all-files
      env:
        SKIP: no-commit-to-branch

    - name: Create app token for commit
      if: failure() && github.event_name == 'pull_request'
      uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
      id: app-token
      with:
        app-id: ${{ vars.APP_ID }}
        private-key: ${{ secrets.PRIVATE_KEY }}
    - name: Commit automatic fixes
      if: failure() && github.event_name == 'pull_request'
      id: pre-commit-fixes
      uses: ryancyq/github-signed-commit@e9f3b28c80da7be66d24b8f501a5abe82a6b855f # v1.2.0
      env:
        GH_TOKEN: ${{ steps.app-token.outputs.token }}
      with:
        files: .
        commit-message: '[pre-commit] automatic fixes'
