name: tests
run-name: tests
on:
  push:
    branches:
    - main
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Setup
      uses: ./.github/actions/setup

    - name: Run tests
      run: task tests
