name: tests
run-name: tests
on:
  push:
    branches:
    - main
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Setup
      uses: ./.github/actions/setup

    - name: Run tests
      run: task tests
